.auth0Container
    height: 30px
    width: 200px
    display: flex
    justify-content: center
    align-items: center
.auth0btn
    cursor: pointer
    width: 100%
    height: 100%
    overflow: hidden
    border: 0.5px var(--color-brownish-dd) solid
    background: var(--color-whiteish)
    display: flex
    justify-content: space-around
    align-items: center
    border-radius: 10px
    font-family: var(--font-poppins)
    svg
        font-size: 25px
        filter: drop-shadow(0.5px .5px .5px #000) 