.cards {
  padding: 0px;
  margin-top: 0px;
}

.container0 {
  display: flex;
  justify-content: center;
  margin: 7px 0px;
  width: 100%;
  height: 90%;
}

.container1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background: var(--color-whiteish);
  padding: 10px;
  width: 90%;
  max-width: 900px;
  border: none;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.containerImage {
  width: 90px;
  height: 90px;
}

.containerBookName {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 80%;
}

.image {
  object-fit: contain;
  object-position: center center;
  border-radius: 5px;
  filter: drop-shadow(2px 4px 2px rgba(17, 17, 17, 0.56));
  max-height: 100%;
  width: 90px;
}

.navLink {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.navLink, .navLink:link, .navLink:visited, .navLink:focus, .navLink:active {
  text-decoration: none;
  color: inherit;
  outline: 0;
}

.containerBlock2 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.containerBlock3 {
  display: flex;
  flex-direction: row;
}

.containerCartHeart {
  display: flex;
  align-content: center;
  justify-content: center;
  align-content: flex-start;
  flex-direction: row;
  width: 100%;
}

.containerCart {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
}

.icon {
  color: var(--color-brownish-dd);
  font-size: 29px;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.containerCartHeart2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100px;
  align-items: flex-start;
}
.containerCartHeart2 img {
  height: 23px;
  width: 23px;
  padding: 0px 0px;
  margin: 5px;
  cursor: pointer;
}

.containerDate1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.containerDate2 {
  width: 100%;
}
.containerDate2 p {
  display: flex;
  justify-content: center;
}
.containerDate2 p:first-child {
  font-size: 14px;
}
.containerDate2 p:last-child {
  font-size: 14px;
  font-weight: 600;
}

#bookTitle {
  font-size: 17px;
  font-weight: bold;
  margin: 0px 10px;
  color: var(--color-brownish-dd);
  overflow: hidden;
  width: 90%;
  text-align: center;
}

#author {
  font-size: 15px;
  font-weight: 600;
  color: #1c5dd6;
  margin: 0px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.price {
  display: flex;
  align-items: center;
  font-size: 19px;
  color: var(--color-brownish-dd);
  margin: 0px;
  width: 100%;
  max-width: 100px;
}
.price p {
  display: flex;
  justify-content: center;
  padding: 0px 10px;
  width: 100%;
}