.container0
  display: flex
  justify-content: center
  
.container1
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  border-radius: 10px
  background: var(--color-yellowish-l)
  padding: 10px
  margin:30px
  width: 60%
  
.container2
  justify-content: center
  align-items: center
  margin: 0px

.container3
  display: flex
  flex-direction: row
  align-items: center
  margin: 15px
  padding: 15px

.containerImage
  display: flex
  justify-content: center
  align-items: center

.image
  border-radius: 15px
  object-fit: contain
  width: 350px
  height: 550px
  padding: 10px


.arr, .text
  font-size: 16px
  color:var(--color-brownish-dd)
  display: flex

.button
  border-radius: 15px
  padding: 10px
  margin: 10px
  border: none
  font-size: 20px
  color:var(--color-brownish-dd)
  background-color: var(--color-brownish-l)
