.container0
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  margin-top: 65px
  margin-bottom: 20px
  min-height: calc(100vh - 135px)

.delete
  border-radius: 15px
  font-size: 22px
  transition: all ease .3s
  color: #000
  filter: drop-shadow(0 0 0 #00000000)
  &:hover
    cursor: pointer
    color: #FF0000
    transform: scale(1.2)

.container1
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  border-radius: 10px
  background: var(--color-whiteish)
  // background: rgba(234, 221, 204, .6)
  padding: 0px
  margin-top: 10px
  margin-bottom: 0px
  width: 100%
  max-width: 690px

#displayMePlease
  position: fixed
  display: flex
  justify-content: center
  align-items: center
  top: 0
  bottom: 0
  right: 0
  left: 0
  background: #222222a3
  width: 99.1vw
  height: 100%

#editor
  position: absolute
  margin-left: 45px
  top: 0
  right: 0
  left: 0

#review
  position: absolute
  top: 0
  right: 0
  left: 0

.container2
  display: flex
  justify-content: center
  align-items: center
  margin: 0px
  padding: 0px
  width: 100%

.container3
  display: flex
  flex-direction: row
  align-items: stretch
  margin: 0px 10px 0px 10px
  padding: 0px
  width: 100%
  justify-content: space-between

.container4
  display: flex

.container6
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  border-radius: 10px
  background: var(--color-whiteish)
  margin-top: 5px
  margin-bottom: 0px
  width: 100%

.container5
  width: 100%
  max-width: 690px

.container5 p
  text-align: center
  margin-top: 10px
  font-weight: bold
  align-self: left
  width: 100%
  font-size: 16px
  // padding: 0px 5px 0px 5px

.containerBookDetails
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-items: center
  margin-right: 10px
  width: 125%

.containerDetails
  display: flex
  flex-direction: column
  align-items: flex-start
  width: 100%

.containerDetails1
  display: flex
  flex-direction: row
  align-items: left

.containerDetails1 div
  align-items: left
  // width: 40px

.containerImage
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  max-height: 100%

.image
  border-radius: 15px
  object-fit: contain
  object-position: center center
  width: 250px
  padding: 0px
  margin: 0px 15px 0px 20px
  filter: drop-shadow(2px 4px 2px rgba(17, 17, 17, 0.2))
  // -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2)
  // box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2)ç

.containerReviews1
  width: 100%

.containerReviews2
  display: flex
  align-content: center
  justify-content: left
  align-items: center
  width: 100%
  padding: 3px 10px
  margin: 0px
  margin-left: 5px
  margin-bottom: 5px

  p
    width: 60%
    font-size: 15px
    font-style: italic
    margin-left: 10px
    cursor: pointer
  p:last-child
    font-size: 15px
    font-style: italic
    margin-left: 10px
  img
    height: 20px
    cursor: pointer

.containerReviews2, .containerReviews2:link, .containerReviews2:visited, .containerReviews2:focus, .containerReviews2:active
  text-decoration: none
  color: inherit
  outline: 0

.container7
  display: flex
  flex-direction: row
  align-items: center
  width: 100%
  margin-bottom: 7px

.containerheart
  // width: 100%
  img
    height: 35px
    width: 35px
    padding: 0px 0px
    margin: 12px 10px 0px 0px
    cursor: pointer

.review
  width: 800px
  height: 535px

.reviews
  width: 80%
  justify-content: center

#bookTitle
  font-size: 20px
  font-weight: bold
  margin-left: 13px
  text-align: left
  color: var(--color-brownish-dd)

#author
  font-size: 14px
  font-weight: bold
  text-decoration: none
  margin-bottom: 5px
  width: 100%
  color: #1c5dd6

#avgReading
  color: #1c5dd6

.arr, .text
  display: flex
  flex-direction: row
  justify-content: center
  text-align: left
  font-size: 13px
  color: var(--color-brownish-dd)
  display: flex
  margin: 2px 0px 0px 10px
  width: 100%

.arr p:first-child, .text p:first-child, .textDescription p:first-child
  font-weight: bold
  width: 100%
  text-align: left
  margin: 0px

.arr p, .text p
  align-self: left
  padding: 0px 5px 0px 5px
  text-align: left

.arr p:last-child, .text p:last-child
  width: 100%

.textDescription
  display: flex
  flex-direction: column
  justify-content: center
  width: 100%
  text-align: left
  font-size: 14px
  color: var(--color-brownish-dd)
  display: flex
  margin: 5px 0px 5px 0px
  p:first-child
    font-size: 16px
    text-align: left
    width: 100%
    margin-bottom: 5px
    margin-top: 20px
  p
    align-self: center
    text-align: justify
    padding: 0px 15px 0px 15px
    margin-bottom: 10px

.textReviews
  display: flex
  flex-direction: column
  justify-content: center
  width: 100%
  text-align: center
  text-decoration: none
  color: var(--color-brownish-dd)
  display: flex
  padding: 10px 15px 5px 15px
  margin: 5px 0px 15px 0px
  div img
    height: 17px
    // width: 35px
  div div
    font-size: 14px
    font-style: oblique
    font-weight: bold
  // div span
  //   font-size: 12px
  //   font-style: oblique
  //   width: 100%
  //   text-align: right
  //   justify-content: right

.starTitle
  display: flex
  justify-content: center
  align-items: flex-start
  gap: 10px

.divisor
  border-top: 1px solid rgba(13, 13, 13, 0.414)
  padding: 5px
  display: flex
  justify-content: center

.price
  color: var(--color-brownish-dd)
  padding: 10px
  padding-top: 5px
  display: flex
  justify-content: center
  width: 90%
  p
    font-size: 24px
    font-weight: 600
    padding-right: 15px
    font-stretch: ultra-expanded
    display: flex
    justify-content: right
    width: 100%

.containerButtons
  display: flex
  flex-direction: column
  align-items: flex-start
  width: 100%

.backButton
  display: flex
  justify-content: left
  width: 35%
  padding-bottom: 0px
  // padding-left: 5px
  margin-bottom: 0px

.buttonBack
  border-radius: 3px
  padding: 5px
  margin: 0px 0px 0px 10px
  border: none
  font-size: 13px
  color: var(--color-brownish-dd)
  background-color: var(--color-yellowish-d)
  -webkit-box-shadow: 0px .3px 2px 0px rgba(0, 0, 0, 0.6)
  box-shadow: 0px .3px 2px 0px rgba(0, 0, 0, 0.6)
  cursor: pointer
  transition: 0.7s

.buttonBack:hover
  color: var(--color-yellowish-d)
  background-color: var(--color-brownish-d)
  transition: 0.7s

.reviewButtonCont
  display: flex
  justify-content: left
  width: 100%
  padding-bottom: 0px
  // padding-left: 5px
  margin-bottom: 0px

.buttonReview
  border-radius: 3px
  padding: 5px
  margin: 0px 0px 0px 0px
  border: none
  width: 100%
  font-size: 16px
  font-weight: 600
  color: var(--color-brownish-dd)
  background-color: var(--color-yellowish-d)
  -webkit-box-shadow: 0px .3px 2px 0px rgba(0, 0, 0, 0.6)
  box-shadow: 0px .3px 2px 0px rgba(0, 0, 0, 0.6)
  cursor: pointer
  transition: 0.7s

.buttonReview:hover
  color: var(--color-yellowish-d)
  background-color: var(--color-brownish-d)
  transition: 0.7s

.buttons
  border-radius: 5px
  padding: 10px
  margin: 10px
  margin-top: 0px
  border: none
  font-size: 16px
  font-weight: 600
  width: 96%
  color: var(--color-brownish-dd)
  background-color: var(--color-yellowish-d)
  -webkit-box-shadow: 0px .3px 2px 0px rgba(0, 0, 0, 0.6)
  box-shadow: 0px .3px 2px 0px rgba(0, 0, 0, 0.6)
  cursor: pointer
  transition: 0.7s

.buttons:hover
  color: var(--color-yellowish-d)
  background-color: var(--color-brownish-d)
  transition: 0.7s

.hiddenButtons
  width: 100%
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  margin: 0px

.hiddenButton
  display: flex
  justify-content: left
  width: 100%
  padding-bottom: 0px
  // padding-left: 5px
  margin-bottom: 0px

.buttonDelete, .buttonEdit
  border-radius: 5px
  padding: 10px
  margin: 0px
  margin-top: 0px
  border: none
  font-size: 14px
  font-weight: bold
  // color: var(--color-brownish-dd)
  color: #dddd
  // background-color: var(--color-yellowish-d)
  background-color: #e53a3ad2
  -webkit-box-shadow: 0px .3px 2px 0px rgba(0, 0, 0, 0.6)
  box-shadow: 0px .3px 2px 0px rgba(0, 0, 0, 0.6)
  cursor: pointer
  transition: 0.7s

.buttonDelete:hover, .buttonEdit:hover
  color: var(--color-brownish-d)
  background-color: var(--color-yellowish-d)
  transition: 0.7s

.containerReviewContent
  font-size: 12px
  font-style: oblique
  width: 100%
  display: flex
  text-align: left
  margin-left: 20px

.containerFirstLine
  display: flex
  flex-direction: row
  justify-content: space-between

.containerReportButton
  display: flex
  justify-content: right
  width: 35%
  padding-bottom: 0px
  align-items: center
  margin-bottom: 0px

.buttonReport
  border-radius: 3px
  padding: 5px
  margin: 0px 0px 0px 10px
  border: none
  font-size: 13px
  color: #f1eaea
  background-color: #f81616e0
  -webkit-box-shadow: 0px .3px 2px 0px rgba(0, 0, 0, 0.6)
  box-shadow: 0px .3px 2px 0px rgba(0, 0, 0, 0.6)
  cursor: pointer
  transition: 0.7s

.buttonReport:hover
  color: #f81616e0
  background-color: #f1eaea
  transition: 0.7s

.reported
  color: #f81616e0
  margin-right: 10px

.yourReview
  color: #1b8831f3
  margin-right: 10px
