.container0
  display: flex
  justify-content: center
  margin-top: 65px
  margin-bottom: 20px
  min-height: calc( 100vh - 115px )

.container1
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  border-radius: 10px
  background: var(--color-whiteish)
  // background: rgba(234, 221, 204, .6)
  padding: 0px
  margin-top: 10px
  margin-bottom: 0px
  width: 70vw
  // height: 80vh

.container2
  display: flex
  justify-content: center
  align-items: center
  margin: 0px
  padding: 0px
  width: 100%

.container3
  display: flex
  flex-direction: row
  align-items: center
  margin: 0px 10px 0px 10px
  padding: 0px
  width: 100%

.container4
  display: flex
  margin: 10px

.containerBookDetails
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-items: center
  margin-right: 10px
  width: 55%

.containerDetails
  display: flex
  flex-direction: column
  align-items: flex-start
  width: 100%

.containerDetails1
  display: flex
  flex-direction: row
  align-items: left

.containerDetails1 div
  align-items: left
  width: 14vw

.containerImage
  display: flex
  justify-content: center
  align-items: center
  width: 45%

.image
  border-radius: 15px
  object-fit: contain
  object-position: center center
  width: 25vw
  // height: 80%
  // height: 32vw
  padding: 0px
  margin: 0px 15px 0px 20px
  filter: drop-shadow(2px 4px 2px rgba(17, 17, 17, 0.2))
  // -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2)
  // box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2)ç

.containerReviews1
  // width: 100%

.containerReviews2
  display: flex
  align-content: center
  justify-content: left
  align-items: flex-start
  width: 100%
  padding: 3px 10px
  margin: 0px
  p
    font-size: 1.2vw
    font-style: italic
    margin-left: 10px

.reviews
  width: 10vw
  justify-content: center

#bookTitle
  font-size: 2vw
  font-weight: bold
  margin-left: 13px
  text-align: left
  color: var(--color-brownish-dd)

#author
  font-size: 1.5vw
  font-weight: bold
  text-decoration: none
  margin-bottom: 5px
  color: var(--color-brownish-d)

.arr, .text
  display: flex
  flex-direction: row
  justify-content: center
  text-align: left
  font-size: 1.2vw
  color: var(--color-brownish-dd)
  display: flex
  margin: 5px 0px 0px 10px
  width: 100%

.arr p:first-child, .text p:first-child, .textDescription p:first-child
  font-weight: bold
  width: 33%
  text-align: left
  margin-left: 0px

.arr p, .text p
  align-self: left
  padding: 0px 5px 0px 5px
  text-align: left

.arr p:last-child, .text p:last-child
  width: 100%

.textDescription
  display: flex
  flex-direction: column
  justify-content: center
  width: 100%
  text-align: left
  font-size: 1.4vw
  color: var(--color-brownish-dd)
  display: flex
  margin: 5px 0px 5px 0px
  p:first-child
    text-align: left
    width: 100%
    margin-bottom: 5px
  p
    align-self: center
    text-align: justify
    padding: 0px 5px 0px 5px

.textReviews
  display: flex
  flex-direction: column
  justify-content: center
  width: 100%
  text-align: center
  font-size: 1.4vw
  color: var(--color-brownish-dd)
  display: flex
  margin: 5px 0px 5px 0px
  p:first-child
    text-align: center
    width: 100%
    margin-bottom: 15px
  p
    font-weight: bold
    align-self: left
    width: 100%
    padding: 0px 5px 0px 5px
  div
    // font-size: 1.3vw
    text-
    font-style: oblique
    font-weight: 600
  span
    font-size: 1.2vw

.price
  color: var(--color-brownish-dd)
  padding: 10px
  padding-top: 5px
  display: flex
  justify-content: center
  width: 100%
  p
    font-size: 3vw
    font-weight: 600
    padding-right: 15px
    font-stretch: ultra-expanded
    display: flex
    justify-content: right
    width: 100%

.containerButtons
  display: flex
  flex-direction: column
  align-items: flex-start
  width: 95%

.backButton
  display: flex
  justify-content: left
  width: 100%
  padding-bottom: 10px
  padding-left: 5px
  margin-bottom: 0px

.buttonBack
  border-radius: 5px
  padding: 5px
  margin: 10px
  margin-bottom: 0px
  border: none
  font-size: 1.3vw
  color: var(--color-brownish-dd)
  background-color: var(--color-yellowish-d)
  -webkit-box-shadow: 0px 0.3px 3px .5px rgba(0, 0, 0, 0.5)
  box-shadow: 0px 0.3px 3px .5px rgba(0, 0, 0, 0.5)
  cursor: pointer
  transition: 0.7s

.buttonBack:hover
  color: var(--color-yellowish-d)
  background-color: var(--color-brownish-d)
  transition: 0.7s

.buttons
  border-radius: 10px
  padding: 10px
  margin: 13px
  margin-top: 0px
  border: none
  font-size: 1.9vw
  font-weight: 600
  width: 100%
  color: var(--color-brownish-dd)
  background-color: var(--color-yellowish-d)
  -webkit-box-shadow: 0px 0.3px 3px .5px rgba(0, 0, 0, 0.5)
  box-shadow: 0px 0.3px 3px .5px rgba(0, 0, 0, 0.5)
  cursor: pointer
  transition: 0.7s

.buttons:hover
  color: var(--color-yellowish-d)
  background-color: var(--color-brownish-d)
  transition: 0.7s
