.container
  display: flex
  justify-content: center
  align-items: center
  padding-top: 50px
  min-height: calc( 100vh - 50px )
  
.dashboard
  display: grid
  grid-template-columns: 11rem auto 20rem

  height: 80vh
  width: 90vw
  border-radius: 20px
  overflow: hidden
  background: #999999
  
