.containerFav0
  margin-top: 68px
  margin-bottom: 50px
  min-height: calc( 100vh - 168px )

.containerFav1
  // height: 40px

.containerNotFav0
  margin-top: 68px
  margin-bottom: 50px
  min-height: calc( 100vh - 168px )

.containerNotFav
  margin-top: 25px
  // margin-bottom: 50px
  // height: calc( 100vh - 166px )
  width: 100%
  display: flex
  flex-direction: column
  flex-wrap: wrap
  justify-content: flex-start
  align-content: center
  align-items: center

.NotFav
  border-radius: 7px
  background-color: var(--color-whiteish)
  padding: 10px
  width: 70%
  margin-left: 9px
  color: var(--color-brownish-dd)
  text-align: center
  animation: fadein .2s
  @keyframes fadein
    0%
      opacity: 0
    100%
      opacity: 1
  p, h4
    margin: 5px 0px
    color: var(--color-brownish-d)
    font-style: oblique
  h4
    font-size: 18px
    color: var(--color-brownish-dd)
    font-style: normal
  p:last-child
    font-weight: bold
  a
    animation: fadein .2s
    @keyframes fadein
      0%
        opacity: 0
      100%
        opacity: 1

.backButton
  display: flex
  justify-content: center
  width: 100%
  padding-bottom: 0px
  margin-bottom: 15px

.buttonBack
  border-radius: 3px
  padding: 5px 7px 5px 7px
  margin: 5px 0px 0px 10px
  border: none
  font-size: 13px
  color: var(--color-brownish-dd)
  background-color: var(--color-yellowish-d)
  -webkit-box-shadow: 0px .3px 2px 0px rgba(0, 0, 0, 0.6)
  box-shadow: 0px .3px 2px 0px rgba(0, 0, 0, 0.6)
  cursor: pointer
  transition: 0.7s

.buttonBack:hover
  color: var(--color-yellowish-d)
  background-color: var(--color-brownish-d)
  transition: 0.7s
