#spinnerContainer
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

#background
  position: absolute
  display: flex
  background: #3d3d3d91
  width: 100%
  height: 121.8%
  margin: 0px
  top: 0px
  left: 0px
  right: 0px
  bottom: 0px
  z-index: 100
