.containerProf0
  margin-top: 60px
  margin-bottom: 20px
  min-height: calc(100vh - 130px)

  .body
    // min-height: 80vh
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
  //a
    // display: flex
    // justify-content: center
    // align-items: center
    // margin-bottom: 30px

.container
  min-height: 640px
  height: 100%
  width: 90%
  max-width: 400px
  display: flex
  flex-direction: column
  // box-sizing: border-box
  border: none
  border-radius: 15px
  // margin-top: 70px
  background-color: var(--color-whiteish)

.sections
  min-height: 100%
  max-width: 100%
  display: flex
  justify-content: space-evenly
  align-items: center
  margin: 10px 10px
  span
    display: flex
    justify-content: space-around
    align-items: center
    cursor: pointer
    transition: all ease .3s
    border-radius: 5px
    padding: 2px 5px
    svg
      margin: 0px 4px
    &:hover
      background-color: #ffffff

.data
  min-height: 90%
  display: flex
  flex-direction: column
  max-width: 100%
  // background-color: var(--color-yellowish-l)
  background: rgba(117, 91, 72, 0.298)
  // background-size: 10%
  margin: 0px 10px 10px 10px
  padding: 5px 0 10px 0
  border-radius: 15px

.section
  background-color: var(--color-whiteish)
  // min-height: 100%
  margin: 15px 20px
  padding: 5px 5px
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center
  border: solid 0px var(--color-brownish-dd)
  border-radius: 15px

.section span
  font-size: 16px
  margin-left: 5px
  text-align: center

.section span:last-child
  font-weight: bold

.sectionAdmin
  // background-color: var(--color-whiteish)
  background-color: rgb(8, 135, 93, .6)
  // min-height: 100%
  margin: 20px 20px
  padding: 5px 5px
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center
  border: solid 0px var(--color-brownish-dd)
  border-radius: 15px
  .adminTrue
    height: 37px
    display: flex
    justify-content: center
    align-items: center
    font-weight: bold

.divisors
  width: 75%
  align-self: center
  border-bottom: solid 0px var(--color-brownish-dd)

.sectionImg
  display: flex
  justify-content: center
  align-items: center
  margin: 16px 20px
  padding: 5px 5px

.testIMG
  height: 170px
  width: 170px
  border-radius: 50%
  color: var(--color-brownish-dd)
  border: solid 1.5px var(--color-brownish-dd)
  display: flex
  justify-content: center
  align-items: center
  background: rgba(241, 166, 53, 0.596)
  user-select: none
  h1
    font-size: 45px

.backButton
  display: flex
  justify-content: center
  width: 100%
  padding-bottom: 0px
  margin-bottom: 10px

.buttonBack
  border-radius: 3px
  padding: 5px 7px 5px 7px
  margin: 5px 0px 0px 10px
  border: none
  font-size: 13px
  color: var(--color-brownish-dd)
  background-color: var(--color-yellowish-d)
  -webkit-box-shadow: 0px .3px 2px 0px rgba(0, 0, 0, 0.6)
  box-shadow: 0px .3px 2px 0px rgba(0, 0, 0, 0.6)
  cursor: pointer
  transition: 0.7s

.buttonBack:hover
  color: var(--color-yellowish-d)
  background-color: var(--color-brownish-d)
  transition: 0.7s

.spanActive
  color: #08875d

.spanSuspended
  color: rgba(229, 58, 58)
