.container
    height: auto
    width: 400px

    box-sizing: border-box
    border: solid 1px
    border-radius: 15px

    position: absolute
    top: 10%
    
    background-color: var(--color-yellowish-d)

.sections
    height: 30px
    width: 100%

    display: flex
    justify-content: space-around
    align-items: center
    margin: 10px 0px
    span
        cursor: pointer

.data
    background: var(--color-whiteish)
    margin: 10px 10px
    padding: 10px 0

    border-radius: 15px
.section
    height: auto
    margin: 10px 20px
    padding: 5px 5px
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center

    border: solid 2px var(--color-brownish-dd)
    border-radius: 15px

.divisors
    width: 75%
    border-bottom: solid 2px var(--color-brownish-dd)