.forgotPsw
    display: flex
    justify-content: center
    margin-top: 75px
    min-height: calc( 100vh - 125px )
    
.card
    background-color: var(--color-whiteish)
    width: 425px
    height: 250px
    border-radius: 10px
    margin-bottom: 25px
    display: flex
    align-items: flex-start
    justify-content: center

.title
    color: var(--color-brownish-dd)
    display: flex
    justify-content: center
    width: 500px
    margin: 15px 0

.info
    display: flex
    align-items: flex-start
    flex-direction: column
    justify-content: center
    color: var(--color-brownish-dd)
    width: 370px
    font-size: 16px
    font-weight: 500
    margin: auto

.mail
    user-select: none

.input
    font-family: var(--font-roboto)
    background: white
    width: 100%
    min-width: 245px
    padding: 7px 10px
    font-size: 14px
    font-weight: 400
    box-sizing: border-box
    font-size: 16px
    margin: 0px auto 7px auto
    border-radius: 10px
    border: none
    &:focus
        outline: none