<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <style>
      .containerEmail { margin: 10px; background-image:
      url("https://i.postimg.cc/pVyfxJt2/BKG-Book-Store.png"); background-size:
      contain; background-repeat: repeat; } .headerEmail { margin-bottom: 20px;
      padding: 5px 0px; width: 100%; background: rgb(233, 201, 154); background:
      linear-gradient( 90deg, rgba(233, 201, 154, 1) 0%, rgba(233, 201, 154,
      0.49791488861169464) 50%, rgba(233, 201, 154, 0) 83% ); } .logoEmail {
      height: 50px; margin-left: 10px; } .logoFooter { /* display: flex; */
      width: 30px; height: 30px; margin-left: 10px; } .thanks { font-size: 20px;
      margin-left: 30px; margin-bottom: 15px; color: #322118; font-family:
      "Verdana"; } .comeback, .yourbook { font-size: 18px; margin-left: 30px;
      padding: 0px 15px 15px 15px; font-style: italic; font-family: "Verdana"; }
      .containerBookDet0 { margin: 15px 0px; } .containerBookDet {
      background-color: rgba(207, 202, 196, 0.5); margin-left: 190px;
      margin-bottom: 25px; width: 300px; padding: 15px; border-radius: 5px; }
      .containerBookDet p { font-size: 20px; font-weight: 700; text-align:
      center; } .containerBookDet img { border-radius: 5px; width: 80%;
      max-width: 380px; margin-left: 28px; } .containerCode0 { margin: 15px 0px
      25px 0px; } .containerCode1 { background-color: rgba(207, 202, 196, 0.5);
      width: 400px; margin-left: 190px; padding: 10px; border-radius: 5px; }
      .containerCode1 p { font-size: 28px; margin: 0px; padding: 5px;
      font-family: "Verdana"; font-weight: 700; text-align: center; } .footer {
      margin-top: 20px; padding: 5px 0px; width: 100%; background: rgb(233, 201,
      154); background: linear-gradient( 90deg, rgba(233, 201, 154, 1) 0%,
      rgba(233, 201, 154, 0.49791488861169464) 50%, rgba(233, 201, 154, 0) 83%
      ); } .containerButtonReset { margin: 15px 0px 25px 190px; } .buttonReset {
      border-radius: 5px; padding: 10px; margin: 10px; border: none; font-size:
      18px; font-weight: 600; width: 400px; color: #1e110b; text-decoration:
      inherit; background-color: #ddb577; -webkit-box-shadow: 0px 0.3px 2px 0px
      rgba(0, 0, 0, 0.6); box-shadow: 0px 0.3px 2px 0px rgba(0, 0, 0, 0.6);
      cursor: pointer; transition: 0.7s; } .buttonReset:hover { text-decoration:
      inherit; color: #ddb577; background-color: #674533e6; transition: 0.7s; }
      .aReset:link, .aReset:visited, .aReset:hover, .aReset:active {
      text-decoration: inherit; color: inherit; }
    </style>
  </head>
  <body>
    <div class='containerEmail'>
      <div class='headerEmail'>
        <img
          src='https://i.postimg.cc/yxnwzqgy/Book-Logo-Text.png'
          class='logoEmail'
          alt=''
        />
      </div>
      <p class='thanks'>
        EMAIL SUBJECT:
        <b>{{title}}</b>
      </p>
      <p class='thanks'>Email from <b>{{sender}}</b></p>

      <p class='comeback'>
        {{message}}
        <a
          target='_blank'
          rel='noreferrer'
          href='https://bookstore-rose.vercel.app/'
        ><b>BookStore</b></a>!
      </p>
      <div class='footer'>
        <img
          src='https://i.postimg.cc/k56kSt0K/Book-Logo.png'
          class='logoFooter'
          alt=''
        />
      </div>
    </div>
  </body>
</html>