<html>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='x-ua-compatible' content='ie=edge' />
    <title>Registering Email</title>
  </head>
  <body>
    <h1>Here's your book: {{title}}</h1>
    <h2>Hello {{username}}! </h2>
    <img src={{image}} />
  </body>
</html>