<html>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='x-ua-compatible' content='ie=edge' />
    <title>Confirm your email</title>
  </head>
  <body>
    <h2>Hello {{name}}! </h2>
    <p>Thanks for registering. </p>
    <p>Your username is: {{username}}</p>
    <p>Please follow the next link to confirm your account:
      "http://localhost:300/confirm?token={{token}}"
    </p>
  </body>
</html>