#footer
  bottom: 0
  display: flex
  justify-content: space-between
  width: 100%
  background: var(--color-yellowish-l)
  z-index: 99

#logo
  display: flex
  width: 30px
  height: 30px

#book
  position: relative
  top: 5.5px
  margin-left: 2px

#store
  position: relative
  bottom: 5px
  margin-left: 2px

#logoAndImage
  display: flex
  align-items: center
  height: 50px
  width: 100px
  margin-left: 10px

#emailContainer
  display: flex
  align-items: center
  margin-right: 5px

#mail
  font-size: 30px

#email
  margin-left: 5px
  font-size: 16px

.bookStore
  color: var(--color-brownish-dd)
  font-size: 16px
