.carouselContainer
  margin-bottom: 0px
  display: flex
  vertical-align: center
  align-items: center
    // background-color: var(--color-yellowish-l)

.carouselContainer button
  // background-color: var(--color-yellowish-l)
  background: rgba(234, 221, 204, 0)
  // border-color: red
  &:hover
    // background-color: var(--color-yellowish-l) !important
    background: rgba(234, 221, 204, 0) !important

.carouselContainer button span
  border-color: var(--color-brownish-dd) !important
  &:hover
    border-color: var(--color-brownish-dd) !important

.slideContainer
  height: 300px
  display: flex
  justify-content: center
  flex-direction: column
  cursor: pointer

.slider
  // background-color: var(--color-yellowish-l)
  // background: rgba(234, 221, 204, .4)
  background: var(--color-whiteish)
  padding: 20px 0
  margin: 0px 20px 20px 20px
  border-radius: 7px

.slideImg
  max-height: 250px
  min-height: 250px
  max-width: 220px
  object-fit: contain
  width: auto
  cursor: pointer
  z-index: 1

.slideDesc
  text-overflow: ellipsis
  overflow: hidden
  width: 220px
  display: flex
  justify-content: flex-start
  align-items: flex-start
  margin-top: 15px
  text-decoration: none
  color: #000
  font-size: 20px

.figure
  position: relative

.figure:hover figcaption
  background-color: rgba(0,0,0,.8)
  color: #fff

.figcaption
  position: absolute
  z-index: 99
  top: 0
  left: 0
  bottom: 0
  right: 0
  background-color: transparent
  text-align: center
  padding: 15px
  display: flex
  color: transparent
  transition: 0.3s
  height: 250px
