.container
    display: flex
%Links
    height: 40px
    width: 200px

    display: flex
    align-content: center
    justify-content: center

    box-sizing: border-box
    /* border: solid var(--color-brownish-d) 2px */
    border-radius: 5px
.userLinks
    @extend %Links
    display: flex
    max-width: 220px
    justify-content: space-around
    // padding: 0px 30px
    align-items: center


.visitLinks
    @extend %Links
    max-width: 220px

    display: flex
    justify-content: space-around
    align-items: center
        
.visitText
    color: #1E110B
    width: 70px
    display: flex
    justify-content: center
    align-items: center

.icon
    color: var(--color-brownish-dd)
    font-size: 32px
    cursor: pointer

.profMenu
    overflow: hidden

    height: auto
    width: 250px

    position: absolute
    top: 55px

    border-radius: 0px 0px 15px 15px

    background: var(--color-yellowish-l)
    ul
        display: flex
        flex-direction: column
        li
            width: 250px
            font-size: 16px

            display: flex
            justify-content: space-between

            cursor: pointer
            &:hover
                background-color: #f0dcb3
                
.ico
    font-size: 22px

.esta 
    width: 200px
    text-decoration: px

.links
    width: 70px

    height: 100%
    display: flex
    justify-content: center
    align-items: center

.divisor
    height: 75%
    border-right: solid 3px var(--color-brownish-dd)
    border-radius: 5px
.noIMG
    display: flex
    justify-content: center
    align-items: center
    padding: 2px 5px
    border-radius: 50%
    width: 100%
    user-select: none
    height: 100%
    color: var(--color-brownish-dd)
    font-weight: bold
.imageCont
    width: 35px 
    height: 35px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    border-radius: 50%
    background-color: rgba(241, 166, 53, 0.596)
    border: var(--color-brownish-dd) 1.5px solid
    overflow: hidden