%Links
    height: auto
    width: 120px

    display: flex
    align-content: center
    justify-content: space-around

    box-sizing: border-box
    border: solid #1E110B 2px
    border-radius: 5px
.userLinks
    @extend %Links

.visitLinks
    @extend %Links
    width: 200px

    text-decoration: underline
    color: #1E110B

.visitText
    color: #1E110B

