.card_container {
  height: auto;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.notFound {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-brownish-dd);
  grid-column: 1/3;
}