.card_container
    height: auto
    width: auto
    
    display: flex
    flex-wrap: wrap

    justify-content: space-around
    align-content: center
    background-color: var(--color-whiteish)

    /* display: grid
    /*grid-template-columns: repeat(3, 1fr)