.card_container
  height: auto
  width: 100%

  display: flex
  // flex-wrap: wrap

  justify-content: space-around
  align-content: center
    // background-color: var(--color-whiteish)

  display: grid
  gap: 10px
  grid-template-columns: repeat(2, 1fr)

.notFound
  // grid-column: 1/2
  border-radius: 7px
  background-color: var(--color-whiteish)
  // background: rgba(234, 221, 204, .7)
  padding: 10px
  width: 70vw
  margin-left: 9px
  color: var(--color-brownish-dd)
  text-align: center
  animation: fadein .2s
  @keyframes fadein
    0%
      opacity: 0
    100%
      opacity: 1
  p, h4
    margin: 5px 0px
    color: var(--color-brownish-d)
    font-style: oblique
  h4
    font-size: 18px
    color: var(--color-brownish-dd)
    font-style: normal
  p:last-child
    font-weight: bold
  a
    animation: fadein .2s
    @keyframes fadein
      0%
        opacity: 0
      100%
        opacity: 1

@media ( max-width: 800px  )
  .card_container
    width: 90%
    grid-template-columns: repeat(1,1fr)
  