.card__container
  height: 180px
  width: 500px
  display: flex
  justify-content: flex-start
  align-items: center
  background-color: var(--color-whiteish)
  border-radius: 25px
  padding: 1rem 1rem
  gap: 1rem    

.esta
  height: 100%
  width: 120px
  display: flex
  justify-content: center
  align-items: center
  img
    width: 120px
    box-sizing: border-box
    border-radius: 100px

.user
  height: 100%
  width: 100%
  display: flex
  justify-content: space-between
  align-content: center
  .info
    height: 100%
    width: auto
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center
  .media
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center
    svg
      font-size: 32px
      color: #000
          