body
  font-family: var(--font-poppins)
  -webkit-font-smoothing: antialiased
  background-image: url("../../assets/BKG_BookStore.png")
  background-size: contain
  &::-webkit-scrollbar
    z-index: 1
    background: #826d5f
  &::-webkit-scrollbar-thumb
    background: #6A371C
    border-radius: 4px
  &::-webkit-scrollbar-thumb:hover
    background: #844523
    box-shadow: 0 0 2px 1px rgba(144, 36, 36, 0.2)
  &::-webkit-scrollbar-thumb:active
    background-color: #6A371C

.buttons
  border-radius: 10px
  padding: 10px
  margin: 10px
  border: none
  font-size: 20px
  color: var(--color-brownish-dd)
  background-color: var(--color-yellowish-d)
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1)
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1)
  cursor: pointer
  transition: 0.7s

.buttons:hover
  color: var(--color-yellowish-d)
  background-color: var(--color-brownish-d)
  transition: 0.7s
