body
  font-family: var(--font-poppins)
  -webkit-font-smoothing: antialiased
  background-image: url("../../assets/BKG_BookStore.png")
  background-size: 100vh
  &::-webkit-scrollbar
    z-index: 1
    background: #dfdeded3
  &::-webkit-scrollbar-thumb
    background: #7a6c6c38
    border-radius: 4px
  &::-webkit-scrollbar-thumb:hover
    background: rgba(117, 91, 72, 0.298)
    border-radius: 4px
    box-shadow: 0 0 2px 1px rgba(144, 36, 36, 0.2)
  &::-webkit-scrollbar-thumb:active
    background-color: #DDB577
  .swal2-modal
    border-radius: 10px
  .swal2-popup
    background: rgb(255, 252, 247)
  .swal2-title
    font-size: 25px
    padding-bottom: 15px
    // box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21)
  // .swal2-icon
  //   width: 3.5em
  //   height: 3.5em
  // .swal2-icon .swal2-icon-content
  //   font-size: 2.5em
  .swal2-styled.swal2-cancel, .swal2-styled.swal2-confirm, .swal2-styled.swal2-deny
    font-family: var(--font-poppins)
    font-size: 19px
    border-radius: 5px
    padding: 10px
    min-width: 130px
    margin: 10px 30px

*
  animation: fadein .25s
  @keyframes fadein
    0%
      opacity: 0
    50%
      opacity: 0.5
    100%
      opacity: 1

.buttons
  border-radius: 5px
  padding: 10px
  margin: 10px
  border: none
  font-size: 20px
  color: var(--color-brownish-dd)
  background-color: var(--color-yellowish-d)
  -webkit-box-shadow: 0px .3px 2px 0px rgba(0, 0, 0, 0.6)
  box-shadow: 0px .3px 2px 0px rgba(0, 0, 0, 0.6)
  cursor: pointer
  transition: 0.7s

.buttons:hover
  color: var(--color-yellowish-d)
  background-color: var(--color-brownish-d)
  transition: 0.7s
