#card
  background: var(--color-whiteish)
  width: 420px
  display: flex
  border-top-left-radius: 10px
  border-bottom-left-radius: 10px

#card2
  background: var(--color-whiteish)
  width: 420px
  display: flex
  align-content: center
  flex-direction: column
  border-top-right-radius: 10px
  border-bottom-right-radius: 10px

#title
  color: var(--color-brownish-dd)
  position: absolute
  display: flex
  justify-content: center
  width: 420px

.hiddenTitle
  visibility: hidden
  color: var(--color-brownish-dd)
  display: flex
  justify-content: center
  width: 420px

#toCenter
  display: flex
  justify-content: center
  margin: 75px 0px 25px

#pleaseWork
  min-height: calc( 100vh - 125px )

.errorMessage
  color: #f13e3e
  font-weight: 400
  font-size: 14.5px
  height: 20px
  transition: all ease 0.3s
  user-select: none

.noErrorMessage
  height: 0px
  display: hidden
  color: #22222200
  transition: all ease 0.3s

.creationCardDisplay
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center

#waiting
  display: flex
  align-items: center
  height: 43.8px
  background: gray
  color: var(--color-brownish-dd)
  &:hover
    background: gray

#bottomButton
  display: flex
  justify-content: center
  margin-top: 10px
  margin-bottom: 15px

.textarea
  font-family: var(--font-roboto)
  resize: none
  width: 100%
  height: 116px
  font-weight: 400
  font-size: 16px
  padding: 10px 10px 10px 10px
  border-radius: 15px
  &:focus
    outline: none

.input
  font-family: var(--font-roboto)
  background: white
  width: 100%
  padding: 7px 10px
  font-size: 14px
  font-weight: 400
  box-sizing: border-box
  font-size: 16px
  border-radius: 10px
  border: none
  &:focus
    outline: none

.inline
  color: var(--color-brownish-dd)
  width: 370px
  font-size: 16px
  font-weight: 500

#arrow
  position: absolute
  display: flex
  align-items: center
  justify-content: center
  align-content: center
  margin-left: -11px

.danger
  border: #ff000098 solid 2px
  transition: 0.3s

.nejDanger
  border: #ffffff98 solid 2px
  transition: 0.3s

.fillTitle
  user-select: none

.buttonBack
  position: absolute
  left: 0px
  border-radius: 3px
  padding: 5px 5px 5px 5px
  margin: 3px 20px 0px 30px
  display: flex
  align-content: center
  align-items: center
  flex-direction: row
  height: 23px
  border: none
  font-weight: 700
  font-size: 13px
  color: var(--color-brownish-dd)
  background-color: var(--color-yellowish-d)
  -webkit-box-shadow: 0px .3px 2px 0px rgba(0, 0, 0, 0.6)
  box-shadow: 0px .3px 2px 0px rgba(0, 0, 0, 0.6)
  cursor: pointer
  transition: 0.7s

#customInput
  font-family: var(--font-roboto)
  background: white
  width: 100%
  padding: 7px 10px
  font-size: 14px
  font-weight: 400
  box-sizing: border-box
  font-size: 16px
  padding: 10px
  border-radius: 10px
  border: none
  transition: 0s
  &:focus
    outline: none

#formContainer
  position: absolute
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

#testIMG
  height: 134.5px
  width: 90px
  color: var(--color-brownish-dd)
  display: flex
  justify-content: center
  align-items: center
  background: white
  user-select: none
  overflow: hidden
  margin: auto
  h1
    font-size: 45px
  img
    object-fit: contain
    min-width: 100%
    min-height: 100%
    margin: 0
  #customFileUpload
    display: inline-block
    padding: 6px 12px
    height: 134.5px
    width: 90px
    cursor: pointer
    position: absolute
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    transition: all ease .3s
    &:hover
      background: #00000067
      #camera
        visibility: visible
  input[type="file"]
    display: none
  #camera
    // visibility: hidden
    margin-bottom: 20px
    font-size: 25px
    color: #bdbdbd

#enterSomething
  margin-top: 10px
  position: absolute
  p
    color: #5a0202
    font-weight: 700
    font-size: 11px

#doNotDisplayme
  display: none
