#card
  // background: var(--color-whiteish)
  background: rgba(234, 221, 204, .7)
  width: 420px
  display: flex
  border-radius: 10px
  height: 100%
  margin-bottom: 25px

#register
  color: var(--color-brownish-dd)
  display: flex
  justify-content: center
  width: 420px
  margin-bottom: 5px

#toCenter
  display: flex
  justify-content: center
  margin-top: 75px
  min-height: calc( 100vh - 125px )

.errorMessage
  color: #f13e3e
  font-weight: 400
  font-size: 14.5px
  height: 20px
  transition: all ease 0.3s
  user-select: none

.noErrorMessage
  user-select: none
  height: 0px
  display: hidden
  color: #22222200
  transition: all ease 0.3s

#creationCardDisplay
  display: flex
  justify-content: center

#waiting
  display: flex
  align-items: center
  height: 43.8px
  background: gray
  color: var(--color-brownish-dd)

#waiting:hover
  background: gray

#bottomButton
  display: flex
  justify-content: center
  margin-top: 10px
  margin-bottom: 15px

.fatEye
  position: absolute
  display: flex
  margin: -32.3px -21px 116px 344px
  z-index: 100
  transition: 0.3s
  &:hover
    margin: -32px -21px 116px 344px
    transition: 0.3s
    width: 17.5px
    height: 17.5px

.input
  font-family: var(--font-roboto)
  background: white
  width: 100%
  padding: 7px 10px
  font-size: 14px
  font-weight: 400
  box-sizing: border-box
  font-size: 16px
  margin: 0px auto 7px auto
  border-radius: 10px
  border: none

.input:focus
  outline: none

.inline
  color: var(--color-brownish-dd)
  width: 370px
  font-size: 16px
  font-weight: 500

.danger
  border: #ff000098 solid 2px
