.container
    width: 100%
    margin: 0
    padding: 0px
    padding-top: 55px
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: flex-start
    min-height: 100vh
    // background-color: var(--color-whiteish)


.filterCont
    width: 25%
    color: black
    min-height: 100vh
    display: flex
    padding: 0
    padding-left: 20px
    justify-content: flex-start
    align-items: flex-start
.cardsCont
    min-height: 100vh
    width: 75%
    margin-top: 10px
    margin-bottom: 20px
    display: flex
    flex-direction: column
    padding: 0
    justify-content: center
    align-items: center
    padding-right: 20px
.cardsComponent
    min-height: 100vh
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    margin: 10px 0
.sort
    width: 100%
    display: flex
    flex-direction: row
    justify-content: flex-end
    align-items: center
    margin: 0
    padding: 0
.filtersButton
    display: none
@media(max-width: 800px)
    .sort
        justify-content: space-between
    .filterCont
        display: none
    .cardsCont
        width: 100vw
        padding: 0px 10px
    .filtersButton
        font-weight: 500
        height: 30px
        font-size: 16px
        padding: 0px 10px
        border-radius: 10px
        cursor: pointer
        display: flex
        justify-content: flex-start
        align-items: center
        border: none
        background-color: var(--color-whiteish)
        font-family: var(--font-poppins)
        &:focus
            outline: none   
    .filtersOpen
        position: absolute
        display: flex
        top: 80px
        margin: 0
        z-index: 90
        padding: 0 10px
        flex-direction: column
        width: 100vw
        left: 0px
    .closeButton
        width: 100%
        height: 15px
        padding-right: 10px
        font-size: 25px
        display: flex
        justify-content: flex-end
        align-items: center
        svg
            cursor: pointer	