.data
    background: var(--color-whiteish)
    margin: 10px 10px
    padding: 10px 0

    border-radius: 15px
.section
    height: auto
    margin: 10px 20px
    padding: 5px 5px
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center

    border: solid 2px var(--color-brownish-dd)
    border-radius: 15px
    span
        width: 75%
        display: flex
        justify-content: space-between
        align-items: center
    
.divisors
    width: 75%
    border-bottom: solid 2px var(--color-brownish-dd)
input
    height: 18px
    width: 75%
    background: var(--color-yellowish-l)
    border-radius: 5px
    border: none

    margin: 5px 0px
