.data
    height: 90%
    background: var(--color-yellowish-l)
    margin: 10px 10px
    padding: 10px 0
    border-radius: 15px

.section
    height: auto
    margin: 10px 20px
    padding: 5px 10px
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center

    background: var(--color-whiteish)
    border-radius: 15px
    span
        width: 75%
        display: flex
        justify-content: space-between
        align-items: center
    input
        height: 18px
        width: 75%
        background: #b9b9b9
        border: none
        margin: 5px 0px
        
        &:focus
          outline: none

.divisors
    width: 75%
    border-bottom: solid 2px var(--color-brownish-dd)

